.odd{
    background-color: lightpink;
    font-family: sans-serif,verdana;
}

#two{
    color: blue;
    font-size: 36px;
}
.special{
    font-size: 24px;
}

#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;


}